* {
    max-width: 100%;
}
 
body {
    overflow-x: hidden;
    height: 100vh;
    background-color: $platinum;
}

.content {
    //DO NOT REMOVE!  Alters css behavior to allow bottom margins at end of page
    padding-bottom: 1px;
}