@import url('https://fonts.googleapis.com/css2?family=WindSong&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&display=swap');

body {
    font-family: 'Raleway', sans-serif;
}

.hero-container__text {
    font-size: 4rem;
    color: rgba($platinum, .5);
}

.contact-card {
    font-size: 1.25rem;
    color: $jet;

    &__name {
        font-size: 1.75rem;
        color: $gunmetal;
        font-weight: bold;
    }
}

.restaurant-name-container {
    color: $platinum;
    font-size: 4rem;
    font-family: 'WindSong', cursive;
}

.footer-container {
    color: $platinum;
    font-weight: 200;
}

.menu-container {
    color: $platinum;
    font-family: 'Karla', sans-serif;
}
