@import "./variables";
@import "normalize/import-now";
@import url('https://fonts.googleapis.com/css2?family=WindSong&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

@mixin flex-overlay {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

@mixin center {
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.content {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.background-container {
    display: flex; 
    width: 100vw;
    height: 100vh;

    &__img {
        background-size: cover;
        flex-grow: 1;
        opacity: .8;
        background-position: center;
    }
    &__img-1 {
        background-image: url(/src/images/homepage1.jpg);
    }
    &__img-2 {
        background-image: url(/src/images/homepage2.jpg);
    }
    &__img-3 {
        background-image: url(/src/images/homepage3.jpg);
    }
}

.restaurant-name-container {
    @include flex-overlay;
    width: 100vw;
    top: 10vh;
    color: $white;
    font-size: 5vw;
    font-family: 'WindSong', cursive;
}

.navbar-container {
    @include flex-overlay;
    width: 100vw;
    top: 0;
    height: 5vh;
    gap: 4vw;

    &__button{
        border: none;
        background: none;
        color: $white;
        font-size: clamp(1.5rem, 1.3vw, 2rem);
        font-family: 'Raleway', sans-serif;
    }
}

.footer-container {
    @include flex-overlay;
    bottom: 0px;
    width: 100vw;
    height: 3vh;
    border-top: 1px solid $platinum;
    background-color: $gunmetal;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.contact-container {
    @include flex-overlay;
    @include center;
    flex-direction: column;
    width: clamp(15rem, 20vw, 40rem);
    height: 70vh;
    background-color: rgba($gunmetal, .96);
    border-radius: 2px;
    // border: 1px solid $satin-sheen-gold;
    // box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    box-shadow: rgba($platinum, 0.7) 0px 0px 0px 2px;
}