@import "./variables";
@import "normalize/import-now";
@import url('https://fonts.googleapis.com/css2?family=WindSong&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

@mixin flex-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

@mixin center {
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@mixin grow {
    transition: all .2s ease-in-out;

    &:hover {
        transform: scale(1.1)
    }
}

@mixin transitionOpacity {
    &:before {
        background-size: cover;
        background-position: center;
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        transition: opacity 0.5s linear;
        opacity: 0;
    }
    &:hover::before{
        opacity: 1;
    }
}

* {
    box-sizing: border-box;
    max-width: 100%;
}

body {
    background-color: $platinum;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    height: 100vh;
}

.content {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.background-container {
    display: flex; 
    width: 100vw;
    height: 100vh;

    &__img {
        @include transitionOpacity;
        background-size: cover;
        flex-grow: 1;
        opacity: 1;
        background-position: center;
        display: grid;
        grid-template-rows: 65vh 25vh 10vh;
        align-items: center;
        padding: 0px;
        position: relative;
        z-index: 1;
        border-bottom: 2px solid $gunmetal;
    }

    &__img-1 {
        background-image: linear-gradient(90deg, rgba(229, 229, 229, 0), rgba($platinum,0.25), rgba($satin-sheen-gold,0.45)), url(/src/images/homepage1.jpg);

        &:before{
            background-image: linear-gradient(90deg, rgba(229, 229, 229, 0), rgba($platinum,0.25), rgba($satin-sheen-gold,.7)), url(/src/images/homepage1.jpg);
        }

    }

    &__img-2 {
        background-image: linear-gradient(90deg, rgba(229, 229, 229, 0), rgba($platinum,0.25), rgba($satin-sheen-gold,0.45)), url(/src/images/homepage2.jpg);
        
        &:before{
            background-image: linear-gradient(90deg, rgba(229, 229, 229, 0), rgba($platinum,0.25), rgba($satin-sheen-gold,.7)), url(/src/images/homepage2.jpg);
        }
    }

    &__img-3 {
        background-image: linear-gradient(90deg, rgba(229, 229, 229, 0), rgba($platinum,0.25), rgba($satin-sheen-gold,0.45)), url(/src/images/homepage3.jpg);
        
        &:before{
            background-image: linear-gradient(90deg, rgba(229, 229, 229, 0), rgba($platinum,0.25), rgba($satin-sheen-gold,.7)), url(/src/images/homepage3.jpg);
        }
    }

    &__text {
        grid-row: 2;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        font-size: 4rem;
        padding-right: 8px;
        font-family: 'Raleway', sans-serif;
        color: rgba($platinum, .5)
    }
}

.restaurant-name-container {
    @include flex-overlay;
    position: absolute;
    width: 100vw;
    top: 10vh;
    color: $white;
    font-size: 5vw;
    font-family: 'WindSong', cursive;
}

// .navbar-container {
//     @include flex-overlay;
//     position: absolute;
//     width: 100vw;
//     top: 0;
//     height: 5vh;
//     gap: 4vw;

//     &__button{
//         @include grow;
//         border: none;
//         border-radius: 4px;
//         background: none;
//         color: $white;
//         font-size: clamp(1.5rem, 1.3vw, 2rem);
//         font-family: 'Raleway', sans-serif;
        
//         &:hover {
//             color: $satin-sheen-gold;
//         }
//     }
// }

.footer-container {
    @include flex-overlay;
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 3vh;
    border-top: 1px solid $platinum;
    background-color: $gunmetal;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.contact-container {
    display: grid;
    padding: 5vw;
    width: 100vw;
    height: auto;
    background-color: $jet;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 100px;
    align-items: center;
    justify-items: center;
}

.contact-card {
    @include grow;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    font-size: 20px;

    &__img {
        grid-row: 1/5;
        object-fit: cover;
        width: clamp(12rem, 20vw, 20vw);
        height: clamp(12rem, 20vw, 20vw);
        border-radius: 2px;
        max-width: 100%;
    }

    .span{
        padding: .2rem 0rem;
        &:not(.contact-card__name) {
            color: $platinum;
        }
    }

    .contact-card__name {
        color: $satin-sheen-gold;
    }
}
