.contact-container {
    @include grid-container-default;
    background-color: $platinum;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 5rem;
    row-gap: 3rem;
}

.contact-card {
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    background-color: $platinum;
    border: 1px solid $jet-light;
    padding: 1rem;
    border-radius: 2px;
    width: 100%;
    transition: background-color 0.5s ease;

    &:hover {
        background-color: $satin-sheen-gold-ultralight;
    }

    &__img {
        grid-row: 1/5;
        object-fit: cover;
        width: clamp(16rem, 20vw, 20vw);
        height: clamp(16rem, 20vw, 20vw);
        border-radius: 2px;
    }

    .span {
        padding: .4rem 0rem;
        color: $gunmetal;
    }
}
