.menu-container {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    background-color: $gunmetal;
    margin: 0px 4rem 4rem 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-width: 200px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.menu-card {
    display: grid;
    color: $platinum;
    column-gap: 2rem;
    row-gap: 1rem;
    align-items: center;
    padding: 1.25rem 1.25rem 0rem 1.25rem;
    grid-template-columns: fit-content(23rem) auto fit-content(3rem);

    &__name {
        font-weight: 700;
        font-size: 1.5rem;
    }

    &__price {
        margin-left: auto;
        font-weight: 400;
        font-size: 1.15rem;
    }

    &__description {
        font-weight: 300;
    }

    &:not(:last-child):after {
        content: ""; /* This is necessary for the pseudo element to work. */ 
        margin: 0 auto; /* This will center the border. */
        border-top: 1px solid rgba($platinum, .05); /* This creates the border. Replace black with whatever color you want. */
        width: 75%;
        grid-column: 1 / -1;
    }

    &:last-child {
        padding: 1.25rem;
    }
}
