.horizontal-divider {
    height: 2px;
    width: 100vw;
    background-color: $platinum;
    border-top: solid 2px $gunmetal;
    border-bottom: solid 2px $gunmetal;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}